@tailwind base;
@tailwind components;
@tailwind utilities;


.link {
  padding: 5px 10px; 
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(19, 33, 127);
}

